{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- portfolio header section -->
<div id="portfolio-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12"></div>
		</div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Proyectos</h2>
                <p>Conoce parate de nuestros trabajos.</p>
			</div>
        </div>
        <div class="row mt30">
        {% for portfolio in portfolios %}
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="{{portfolio.image.url}}" data-lightbox-gallery="portfolio-gallery"><img src="{{portfolio.image.url}}" alt="portfolio img"></a>
			</div>
		{% endfor %}
		</div>
	</div>
</div>		
{% endblock %}