{% extends 'core/base.html' %}
{% load static %}

{% block title %}Inicio{% endblock %}

{% block content %}

<!-- home section -->
<div id="home">
	<div class="container">
		<div class="row">
			<div class="col-md-5 col-sm-3"></div>
			<div class="col-md-7 col-sm-9">
				<h4>Bienvenidos a</h4>
				<h1>Cybertools</h1>
			</div>
		</div>
	</div>
</div>

<!-- divider section -->
<div class="divider">
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-one">
					<i class="fa fa-laptop"></i>
					<h2>Desarrollo de Aplicaciones</h2>
					<p style="text-align: justify" >Parte de nuestro portafolio de negocio es el desarrollo de aplicaciones Web o de escritorio.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-6">
				<div class="divider-wrapper divider-two">
					<i class="fa fa-mobile"></i>
					<h2>Servicios Mobiles</h2>
					<p style="text-align: justify" >Disponemos de soporte técnico y de software para celulares, tablets y computadoras.</p>
				</div>
			</div>
			<div class="col-md-4 col-sm-12">
				<div class="divider-wrapper divider-three">
					<i class="fa fa-life-ring"></i>
					<h2>Rápido<br>Soporte</h2>
					<p style="text-align: justify" >Encontrarás soporte inmediato a tus necesidades dentro de nuestro portafolio de servicios.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- about section -->
<div id="about">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<img src="{% static 'core/img/cybertools10.png' %}" class="img-responsive" alt="about img">
			</div>
			<div class="col-md-6 col-sm-12 about-des">
				<h2>Core de Negocio</h2>
				<p style="text-align: justify"><font color="#FDFEFE">Cybertools es una empresa dedicada a la tecnología en todos sus aspectos, desde venta de artefactos tecnológicos como celulares, cámaras
					computadoras, entre otros.</font></p>
				<p style="text-align: justify"><font color="#FDFEFE">Tambíen nos dedicamos al desarrollo de Software para todo tipo de negocio atendiendo de manera eficaz sus necesidades para satisfacerlas 
					en el menor tiempo posible.</font></p>
				<a href="{% url 'about' %}" class="btn btn-default">Ver más</a>
			</div>
		</div>
	</div>
</div>

<!-- portfolio section -->
<div id="portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Proyectos y Trabajos</h2>
                <p style="text-align: center"><font color="#FDFEFE">Visualiza parte de nuestro trabajo</font></p>
			</div>
        </div>

        <div class="row mt30">
			{% for portfolio in portfolios %}
			{% if forloop.counter <= 6 %}
			<div class="col-md-4 col-sm-4 col-xs-6">
				<a href="{{portfolio.image.url}}" data-lightbox-gallery="portfolio-gallery"><img src="{{portfolio.image.url}}" alt="portfolio img"></a>
			</div>
			{% endif %}
			{% endfor %}
		</div>
	</div>
</div>

<div id="link-portfolio">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12" style='text-align:center'>
				<a href="{% url 'portfolio' %}" class="btn btn-default">Ver más</a>
			</div>
		</div>
	</div>
</div>
<br>
<br>
{% endblock %}