{% extends 'core/base.html' %}
{% load static %}

{% block title %}Sobre Nosotros{% endblock %}

{% block content %}
<div id="about-header">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12"></div>
		</div>
	</div>
</div>

<!-- team section -->
<div id="team">
	<div class="container">
    
		<div class="row">
			<div class="col-md-offset-2 col-md-8 col-sm-12">
				<h2>Nuestro equipo</h2>
                <p style="text-align: center"><font color="#FDFEFE">Te presentamos a los integrantes de nuestro equipo de colaboradores</font></p>
			</div>
        </div>

        <div class="row mt30">
			{% for aboutUs in abouts %}
			<div class="col-md-4 col-sm-4 col-xs-9">
				<div class="team-wrapper">
					<img src="{{aboutUs.image.url}}" class="img-responsive" alt="team img">
					<h3>{{aboutUs.names}}</h3>
					<h4>{{aboutUs.position}}</h4>
					<p>{{aboutUs.description}}</p>
				</div>				
			</div>
			{% endfor %}
		</div>

        <div class="row mt30"> 
			<div class="col-md-12 col-sm-12">
				<hr>
			</div>
			<div class="col-md-6 col-sm-6">
				<h3>Skills</h3>
				<p>Como parte de nuestras más importantes habilidades como empresa tenemos las siguientes</p>
			</div>
			<div class="col-md-6 col-sm-6">
				<strong>HTML5 - CSS3 - BOOTSTRAP - JS</strong>
					<div class="progress">
						<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"></div>
					</div>
				<strong>JAVA - JAVA EE - PYTHON</strong>
					<div class="progress">
						<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"></div>
					</div>
				<strong>UX Design</strong>
					<div class="progress">
						<div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
					</div>
			</div>
		</div>
	</div>
</div>		

{% endblock %}
